<!-- <div class="register-user-container"></div>
<h1>Registrar información usuario</h1>
<form

  class="register-user-form"
>

</form> -->
<!--
<div class="login-container">
  <h1>Registrar información usuario</h1>
  <form [formGroup]="frmCreateUser" (ngSubmit)="registerUser()">
    <label for="email" class="label">Nombre</label>
    <input
      type="text"
      id="txtName"
      formControlName="name"
      class="input"
      placeholder="Ingresa tu nombre"
    />
    <br />
    <label for="email" class="label">Correo electrónico</label>
    <input
      type="email"
      id="txtEmail"
      formControlName="email"
      class="input"
      placeholder="Ingresa tu correo"
    />
    <br />
    <label for="email" class="label">Contraseña</label>
    <input
      type="password"
      id="txtPassword"
      formControlName="password"
      class="input"
      placeholder="Ingresa tu contraseña"
    />
    <br />
    <button type="submit" class="button">Registrar</button>
  </form>
</div> -->

<div class="login-container">
  <h1>Registrar usuario</h1>
  <form [formGroup]="frmCreateUser" (ngSubmit)="registerUser()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input
        type="text"
        id="txtNombre"
        formControlName="name"
        class="input"
        placeholder="Tu nombre completo"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input
        type="email"
        id="txtEmail"
        formControlName="email"
        class="input"
        placeholder="ejemplo@correo.com"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input
        type="password"
        id="txtPassword"
        formControlName="password"
        class="input"
        placeholder="Tu contraseña"
        required
      />
    </div>
    <button type="submit" class="login-btn">Registrar</button>
  </form>
</div>
